* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Rajdhani', sans-serif;

}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    font-family: 'Silkscreen', cursive;
    color: #1fa2ffe0;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* HEADER*/


header{
    width: 100%;
    height: 600px;
    background: (to right, #a6ffcb75, #12d7fa75, #1fa2ff65), url(img/laptop.jpg); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a6ffcb75, #12d7fa75, #1fa2ff65), url(img/laptop.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a6ffcb75, #12d7fa75, #1fa2ff65), url(img/laptop.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}


nav{
    text-align: right;
    padding: 30px 50px 0 0;

}

nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-family: 'Silkscreen', cursive;
}

nav > a:hover{
    text-decoration: underline;
    
}

.logo {
    width: 100px;
    float: left;
    margin-top: -20px;
    margin-left: 50px;
    
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: white;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* ABOUT MYSELF*/

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    
}

.imagen-about-us{
    width: 25%;
    height: 25%;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
    margin: 0 0 10% 10% ;

}


.contenedor-sobre-nosotros .contenido-textos{
    width: 45%;
    margin-right: 10%;
    margin-left: 50px;
    font-size: 25px;
}

.contenido-textos h3{
    margin-bottom: 20px;
    font-family: 'Rajdhani', sans-serif;

}
.contenido-textos p{
    
    text-align:justify;
    font-family: 'Rajdhani', sans-serif;

}

/* galeria*/
 
.projects-section {
    text-align: center;
    padding: 20px;
    background: #f2f2f2;
  }
  
  .projects-section-header {
    max-width: 500px;
    margin: 30px auto;
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  /* "Automagic" image grid using no media queries */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  
  
  .code {
    color: #f2f2f2;
    transition: color 0.3s ease-out;
    font-size: 30px;
    }
  
  .project:hover .code {
    color: #1fa2ffe0;
  }
  
  .project-image {
    height: calc(100% - 70px);
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    text-decoration: none;
  }
  
  .project-title {
    color: black;
    font-size: 20px;
    padding: 8px 2px;
    text-decoration-line: none;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  
  .btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
  }
  
  .btn-show-all:hover {
    background: var(--main-red);
  }
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
.portafolio{
    background: #f2f2f2;

}

.galeria-portafolio{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}


.imagen-portafolio{
    width: 24%;
    margin-bottom:10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5)

}

.imagen-portafolio > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    transform: scale(0);
    background: rgba(141, 19, 241, 0.384);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;

}

.hover-galeria p{
    color: white;

}

.imagen-portafolio:hover .hover-galeria{
    transform: scale(1);
}


/* our team*/

.about-services{
    background: #acacac;
    padding-bottom: 30px;
}

.servicios-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-individual{
    width: 28%;
    text-align: center;
}

.servicio-individual img{
    width: 90%;

}

.servicio-individual h3{
    margin: 10px 0;
}

.servicio-individual p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;

}

.contenedor-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 150px;
    padding: 0 2em;
}

.contenedor-foo > h2 {
    font-size: 3rem;
    font-family: 'Silkscreen', cursive;
    color: #1fa2ffe0;
  }

  .contact-links {
    display: flex;
    column-gap: 30px;
    padding-top: 20px;
  }
  
  .icon {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color,background-color;
    transition-duration: .25s;
  }
  
  .icon:hover {
    outline-offset: 4px;
  }

  .icon:hover i{
    animation: shake .95s;
  }

  .icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf407 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    outline-color: #a02d76;
  }

  .icon--github:hover{
    background-color: #2ea44f;
    outline-color: #2ea44f;
  }

  .icon--linkedIn:hover{
    background-color: #0e76a8;
    outline-color: #0e76a8;
  }
  .icon--email:hover{
    background-color: #db4a39;
    outline-color: #db4a39;
  }
  .icon--whatsapp:hover{
    background-color:   #00bb2d;
    outline-color:   #00bb2d;
  }

  @keyframes shake {
    10%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
  }

.titulo-final{
    text-align: center;
    font-size: 16px;
    margin: 20px 0 0 0;
    color: #9e9797
}

/* esta parte es para trabajar un proyecto de manera resposiva*/

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* galeria*/

    .imagen-portafolio{
        width: 44%;

    }

    /*clientes*/
    
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /*servicios contenedor*/

    .servicios-contenedor{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-individual{
        width: 100%;
        text-align: center;
    }

    .servicio-individual:ntc-child(1), .servicio-individual:ntc-child(2){
        margin-bottom: 60px;
    }

    .servicio-individual img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /*about us*/
    
    main .sobre-nosotros{
        padding: 30px 0 60px 0;
    }
    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;

    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    
    .btn {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2px;
      }

  }